<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Login to GoWatcher</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center">
                <p>
                    <ion-button expand="full" color="primary" (click)="onLogin()">Login</ion-button>
                </p>
                <p>
                    <ion-button expand="full" color="secondary">Don't have an account? Sign up!</ion-button>
                </p>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
