<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/hosts"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button routerLink="/tabs/hosts/edit-host/1">
                <ion-icon name="create-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">{{host.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
