<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="problems">
            <ion-icon name="warning"></ion-icon>
            <ion-label>Problems</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="hosts">
            <ion-icon name="server"></ion-icon>
            <ion-label>Hosts</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="host-services">
            <ion-icon name="cog"></ion-icon>
            <ion-label>Services</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
