<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button menu="main-drawer"></ion-menu-button>
        </ion-buttons>

        <ion-buttons slot="primary">
            <ion-button routerLink="/tabs/hosts/add-host">
                <ion-icon name="add" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title class="ion-text-center">Hosts</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ng-template [ngIf]="hosts">

        <ion-list class="ion-margin-top" *ngFor="let curHost of hosts">
            <ion-item-sliding>
                <ion-item [routerLink]="['/','tabs', 'hosts', curHost.id]" detail lines="none">
                    <ion-label>{{curHost.name}}</ion-label>
                    <ion-icon name="server" slot="start"></ion-icon>
                </ion-item>
                <ion-item-options>
                    <ion-item-option color="secondary" (click)="onEdit(curHost.id)">
                        <ion-icon name="create" slot="icon-only"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>

    </ng-template>

    <ng-template [ngIf]="!hosts">
        <ion-list class="ion-margin-top">
            <ion-item>
                <ion-label>No Hosts</ion-label>
                <ion-icon color="warning" name="warning" slot="start"></ion-icon>
            </ion-item>
        </ion-list>
    </ng-template>

</ion-content>
