<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="primary">
            <ion-button routerLink="/tabs/hosts/add-host">
            <ion-icon name="add" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Hosts</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ng-template [ngIf]="hosts">
        <ion-list>
            <ion-item *ngFor="let curHost of hosts" detail>


                <ion-label [routerLink]="['/','tabs', 'hosts', curHost.id]">{{curHost.name}}</ion-label>
                <ion-icon name="server" slot="start"></ion-icon>


            </ion-item>
        </ion-list>

    </ng-template>

    <ng-template [ngIf]="!hosts">
        <ion-list>
            <ion-item >
                <ion-label>No Hosts</ion-label>
                <ion-icon color="warning" name="warning" slot="start"></ion-icon>
            </ion-item>
        </ion-list>
    </ng-template>

</ion-content>
