<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button menu="main-drawer"></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Services</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ng-template [ngIf]="services">
        <br>
        <ion-list *ngFor="let service of services">

            <ng-template [ngIf]="service.warning == 1">
                <ion-item lines="none" color="warning">
                    <ion-label>{{service.serviceName}} - {{service.hostName}}</ion-label>
                    <ion-icon name="{{service.icon}}" slot="start"></ion-icon>
                </ion-item>
            </ng-template>

            <ng-template [ngIf]="service.problem == 1">
                <ion-item lines="none" color="danger">
                    <ion-label>{{service.serviceName}} - {{service.hostName}}</ion-label>
                    <ion-icon name="{{service.icon}}" slot="start"></ion-icon>
                </ion-item>
            </ng-template>

            <ng-template [ngIf]="service.warning === 0 && service.problem === 0">
                <ion-item lines="none" color="success">
                    <ion-label>{{service.serviceName}} - {{service.hostName}}</ion-label>
                    <ion-icon name="{{service.icon}}" slot="start"></ion-icon>
                </ion-item>
            </ng-template>


        </ion-list>

    </ng-template>

    <ng-template [ngIf]="!services">
        <ion-list>
            <ion-item>
                <ion-label>No Services</ion-label>
                <ion-icon color="warning" name="warning" slot="start"></ion-icon>
            </ion-item>
        </ion-list>
    </ng-template>

</ion-content>
